[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
mysqlclient = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
drf-yasg = "*"
pandas = "*"

[dev-packages]
isort = "*"
django-dotenv = "*"

[requires]
python_version = "3.11"
